USE [master]
GO
/****** Object:  Database [OganiShop]    Script Date: 31/12/2022 5:25:30 PM ******/
CREATE DATABASE [OganiShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OganiShop', FILENAME = N'F:\SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OganiShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OganiShop_log', FILENAME = N'F:\SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OganiShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OganiShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OganiShop]
GO
/****** Object:  Table [dbo].[AccountImage]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](50) NULL,
	[FileId] [int] NULL,
	[IsAvatar] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountManager]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountManager](
	[Account] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
	[Type] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Slug] [varchar](200) NULL,
	[FileId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryBlog]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryBlog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Slug] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[PostQuantity] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[DiscountType] [int] NULL,
	[DiscountValue] [decimal](18, 0) NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileManage]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileManage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[FilePath] [nvarchar](200) NULL,
	[FileType] [varchar](50) NULL,
	[FileFormat] [varchar](30) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ShopOrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[TotalPrice] [decimal](18, 0) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Slug] [nvarchar](1000) NULL,
	[Title] [nvarchar](1000) NULL,
	[Description] [nvarchar](1000) NULL,
	[Content] [nvarchar](max) NULL,
	[CategoryId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostImage]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NULL,
	[FileId] [int] NULL,
	[IsAvatar] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostTag]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTag](
	[PostId] [int] NULL,
	[TagId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Slug] [varchar](200) NULL,
	[Price] [decimal](18, 0) NULL,
	[OldPrice] [decimal](18, 0) NULL,
	[Description] [nvarchar](max) NULL,
	[Summary] [nvarchar](1000) NULL,
	[Quantity] [int] NULL,
	[Weight] [float] NULL,
	[Unit] [varchar](10) NULL,
	[CategoryId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[FileId] [int] NULL,
	[IsAvatar] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingAddress]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingAddress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Address] [nvarchar](1000) NOT NULL,
	[City] [nvarchar](30) NULL,
	[Country] [nvarchar](30) NULL,
	[Phone] [nvarchar](30) NULL,
	[Postcode] [nvarchar](10) NULL,
	[Note] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopOrder]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderStatus] [int] NULL,
	[TotalPrice] [decimal](18, 0) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
	[Account] [nvarchar](50) NULL,
	[AddressId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
	[Customer] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Slug] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 31/12/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](50) NULL,
	[Account] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccountImage] ON 

INSERT [dbo].[AccountImage] ([Id], [Account], [FileId], [IsAvatar], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (1, N'admin', 2, 0, CAST(N'2022-10-22T00:00:00.000' AS DateTime), CAST(N'2022-10-22T00:00:00.000' AS DateTime), N'admin', N'admin', 0, 0)
INSERT [dbo].[AccountImage] ([Id], [Account], [FileId], [IsAvatar], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (2, N'pna', 1, 0, CAST(N'2022-10-22T00:00:00.000' AS DateTime), CAST(N'2022-10-22T00:00:00.000' AS DateTime), N'pna', N'pna', 0, 0)
INSERT [dbo].[AccountImage] ([Id], [Account], [FileId], [IsAvatar], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (6, N'staff1', 4, 1, CAST(N'2022-10-22T00:00:00.000' AS DateTime), CAST(N'2022-10-22T00:00:00.000' AS DateTime), N'staff1', N'staff1', 0, 0)
SET IDENTITY_INSERT [dbo].[AccountImage] OFF
GO
INSERT [dbo].[AccountManager] ([Account], [Password], [Role], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (N'admin', N'123', N'admin', CAST(N'2022-10-22T00:00:00.000' AS DateTime), CAST(N'2022-12-29T20:07:15.700' AS DateTime), NULL, N'admin', 0, 0)
INSERT [dbo].[AccountManager] ([Account], [Password], [Role], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (N'johnlee', N'123', N'customer', CAST(N'2022-12-29T20:54:30.270' AS DateTime), CAST(N'2022-12-29T20:54:30.270' AS DateTime), NULL, NULL, 0, 0)
INSERT [dbo].[AccountManager] ([Account], [Password], [Role], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (N'meow', N'123', N'customer', CAST(N'2022-12-18T16:16:50.847' AS DateTime), CAST(N'2022-12-18T16:16:50.877' AS DateTime), NULL, NULL, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([Id], [FileId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted], [Type]) VALUES (1, 34, CAST(N'2022-11-09T20:05:44.850' AS DateTime), CAST(N'2022-11-09T20:05:44.850' AS DateTime), N'admin', NULL, NULL, NULL, 0)
INSERT [dbo].[Banner] ([Id], [FileId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted], [Type]) VALUES (2, 6, CAST(N'2022-11-09T20:05:44.850' AS DateTime), CAST(N'2022-11-09T20:05:44.850' AS DateTime), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Banner] ([Id], [FileId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted], [Type]) VALUES (3, 7, CAST(N'2022-11-14T15:33:47.343' AS DateTime), CAST(N'2022-11-14T15:33:47.343' AS DateTime), NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Banner] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [Slug], [FileId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (1, N'Fast Food & Meat', N'fresh-meat', 60, CAST(N'2022-11-09T20:05:44.850' AS DateTime), CAST(N'2022-11-09T20:05:44.850' AS DateTime), N'admin', N'admin', 0, 0)
INSERT [dbo].[Category] ([Id], [Name], [Slug], [FileId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (2, N'Snacks & Nuts', N'snacks-nuts', 2, CAST(N'2022-11-09T20:05:44.850' AS DateTime), CAST(N'2022-11-09T20:05:44.850' AS DateTime), N'admin', N'admin', 0, 0)
INSERT [dbo].[Category] ([Id], [Name], [Slug], [FileId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (3, N'Vegetables', N'fruit-nut-gifts', 3, CAST(N'2022-11-09T20:05:44.850' AS DateTime), CAST(N'2022-11-09T20:05:44.850' AS DateTime), N'admin', N'admin', 0, 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryBlog] ON 

INSERT [dbo].[CategoryBlog] ([Id], [Slug], [Name], [PostQuantity], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (1, NULL, N'Beauty', 0, CAST(N'2022-11-12T00:00:00.000' AS DateTime), CAST(N'2022-11-12T00:00:00.000' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[CategoryBlog] ([Id], [Slug], [Name], [PostQuantity], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (2, NULL, N'Food', 3, CAST(N'2022-11-12T00:00:00.000' AS DateTime), CAST(N'2022-11-12T00:00:00.000' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[CategoryBlog] ([Id], [Slug], [Name], [PostQuantity], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (3, NULL, N'Travel', 1, CAST(N'2022-11-12T00:00:00.000' AS DateTime), CAST(N'2022-11-12T00:00:00.000' AS DateTime), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[CategoryBlog] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([Id], [ProductId], [DiscountType], [DiscountValue], [StartDate], [EndDate], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (1, 1, 1, CAST(25 AS Decimal(18, 0)), CAST(N'2022-11-29T00:00:00.000' AS DateTime), CAST(N'2022-12-30T00:00:00.000' AS DateTime), CAST(N'2022-12-28T18:55:08.870' AS DateTime), CAST(N'2022-12-28T18:55:08.870' AS DateTime), N'admin', N'admin', 0, 0)
INSERT [dbo].[Discount] ([Id], [ProductId], [DiscountType], [DiscountValue], [StartDate], [EndDate], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (2, 5, 0, CAST(2 AS Decimal(18, 0)), CAST(N'2022-11-29T00:00:00.000' AS DateTime), CAST(N'2022-12-30T00:00:00.000' AS DateTime), CAST(N'2022-11-29T00:00:00.000' AS DateTime), CAST(N'2022-11-29T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Discount] ([Id], [ProductId], [DiscountType], [DiscountValue], [StartDate], [EndDate], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (3, 4, 1, CAST(10 AS Decimal(18, 0)), CAST(N'2022-11-29T00:00:00.000' AS DateTime), CAST(N'2022-12-30T00:00:00.000' AS DateTime), CAST(N'2022-11-29T00:00:00.000' AS DateTime), CAST(N'2022-11-29T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
SET IDENTITY_INSERT [dbo].[FileManage] ON 

INSERT [dbo].[FileManage] ([Id], [Name], [FilePath], [FileType], [FileFormat], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (1, N'file', N'/img/categories/cat-1.jpg', N'image', NULL, CAST(N'2022-11-07T21:29:03.540' AS DateTime), CAST(N'2022-11-07T21:29:03.540' AS DateTime), NULL, NULL, 0, 0)
INSERT [dbo].[FileManage] ([Id], [Name], [FilePath], [FileType], [FileFormat], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (2, N'file', N'/img/categories/cat-2.jpg', N'image', NULL, CAST(N'2022-11-07T21:30:13.750' AS DateTime), CAST(N'2022-11-07T21:30:13.750' AS DateTime), NULL, NULL, 0, 0)
INSERT [dbo].[FileManage] ([Id], [Name], [FilePath], [FileType], [FileFormat], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (3, N'file', N'/img/categories/cat-3.jpg', N'image', NULL, CAST(N'2022-11-09T19:39:03.707' AS DateTime), CAST(N'2022-11-09T19:39:03.707' AS DateTime), NULL, NULL, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[FileManage] OFF
GO
INSERT [dbo].[OrderDetail] ([ShopOrderId], [ProductId], [Quantity], [Price], [TotalPrice], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (1, 1, 3, CAST(2 AS Decimal(18, 0)), CAST(6 AS Decimal(18, 0)), CAST(N'2022-11-25T00:00:00.000' AS DateTime), CAST(N'2022-11-25T00:00:00.000' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[OrderDetail] ([ShopOrderId], [ProductId], [Quantity], [Price], [TotalPrice], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (1, 2, 3, CAST(5 AS Decimal(18, 0)), CAST(12 AS Decimal(18, 0)), CAST(N'2022-11-25T00:00:00.000' AS DateTime), CAST(N'2022-11-25T00:00:00.000' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[OrderDetail] ([ShopOrderId], [ProductId], [Quantity], [Price], [TotalPrice], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (2, 4, 10, CAST(2 AS Decimal(18, 0)), CAST(20 AS Decimal(18, 0)), CAST(N'2022-11-25T00:00:00.000' AS DateTime), CAST(N'2022-11-25T00:00:00.000' AS DateTime), NULL, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[PostImage] ON 

INSERT [dbo].[PostImage] ([Id], [PostId], [FileId], [IsAvatar], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (1, 1, 35, 0, CAST(N'2022-11-12T00:00:00.000' AS DateTime), CAST(N'2022-12-17T22:46:19.607' AS DateTime), NULL, N'admin', 0, 0)
INSERT [dbo].[PostImage] ([Id], [PostId], [FileId], [IsAvatar], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (2, 2, 36, 0, CAST(N'2022-11-12T00:00:00.000' AS DateTime), CAST(N'2022-12-18T15:24:02.697' AS DateTime), NULL, N'pna', 0, 0)
INSERT [dbo].[PostImage] ([Id], [PostId], [FileId], [IsAvatar], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (3, 3, 37, 1, CAST(N'2022-11-12T00:00:00.000' AS DateTime), CAST(N'2022-11-12T00:00:00.000' AS DateTime), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PostImage] OFF
GO
INSERT [dbo].[PostTag] ([PostId], [TagId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (4, 4, CAST(N'2022-11-14T15:28:22.660' AS DateTime), CAST(N'2022-11-14T15:28:22.660' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[PostTag] ([PostId], [TagId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (4, 1, CAST(N'2022-11-14T15:28:22.660' AS DateTime), CAST(N'2022-11-14T15:28:22.660' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[PostTag] ([PostId], [TagId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (3, 2, CAST(N'2022-11-14T15:28:22.660' AS DateTime), CAST(N'2022-11-14T15:28:22.660' AS DateTime), NULL, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Slug], [Price], [OldPrice], [Description], [Summary], [Quantity], [Weight], [Unit], [CategoryId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (2, N'Grape', NULL, CAST(15 AS Decimal(18, 0)), CAST(15 AS Decimal(18, 0)), NULL, NULL, 200, 0.3, N'kg', 7, CAST(N'2022-11-20T00:00:00.000' AS DateTime), CAST(N'2022-12-13T18:20:17.917' AS DateTime), NULL, NULL, 0, 0)
INSERT [dbo].[Product] ([Id], [Name], [Slug], [Price], [OldPrice], [Description], [Summary], [Quantity], [Weight], [Unit], [CategoryId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (3, N'Guava', NULL, CAST(20 AS Decimal(18, 0)), CAST(20 AS Decimal(18, 0)), NULL, NULL, 200, 0.5, N'kg', 7, CAST(N'2022-11-20T00:00:00.000' AS DateTime), CAST(N'2022-12-13T18:21:18.260' AS DateTime), NULL, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([Id], [ProductId], [FileId], [IsAvatar], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (1, 1, 22, 1, CAST(N'2022-11-22T00:00:00.000' AS DateTime), CAST(N'2022-12-31T16:52:13.197' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[ProductImage] ([Id], [ProductId], [FileId], [IsAvatar], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (2, 2, 23, 0, CAST(N'2022-11-22T00:00:00.000' AS DateTime), CAST(N'2022-11-28T19:53:35.460' AS DateTime), NULL, NULL, 0, 0)
INSERT [dbo].[ProductImage] ([Id], [ProductId], [FileId], [IsAvatar], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (3, 3, 24, 0, CAST(N'2022-11-22T00:00:00.000' AS DateTime), CAST(N'2022-11-29T15:52:28.130' AS DateTime), NULL, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[ShippingAddress] ON 

INSERT [dbo].[ShippingAddress] ([Id], [Account], [FirstName], [LastName], [Address], [City], [Country], [Phone], [Postcode], [Note], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (2, N'pna', N'Phùng', N'Ngọc Anh', N'Ngõ 1194 Đường Láng', N'Hà Nội', N'Việt Nam', N'(+84) 971037465', N'100000', NULL, CAST(N'2022-12-02T22:48:59.730' AS DateTime), CAST(N'2022-12-02T22:48:59.733' AS DateTime), N'pna', N'pna', 0, 0)
INSERT [dbo].[ShippingAddress] ([Id], [Account], [FirstName], [LastName], [Address], [City], [Country], [Phone], [Postcode], [Note], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (3, N'c7e66bde-d4e3-4296-829c-3b816f1d04ca', N'Táo', NULL, N'Láng Thượng, Đống Đa, Hà Nội, Việt Nam', N'Hà Nội', N'Việt Nam', N'(+84) 971037465', N'100000', NULL, CAST(N'2022-12-03T22:18:46.540' AS DateTime), CAST(N'2022-12-03T22:18:46.540' AS DateTime), N'c7e66bde-d4e3-4296-829c-3b816f1d04ca', N'c7e66bde-d4e3-4296-829c-3b816f1d04ca', 0, 0)
INSERT [dbo].[ShippingAddress] ([Id], [Account], [FirstName], [LastName], [Address], [City], [Country], [Phone], [Postcode], [Note], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (4, N'pna', N'Phùng', N'Ngọc Anh', N'Ngã 3 Hoà Lạc', N'Hà Nội', N'Việt Nam', N'(+84) 971037465', N'100000', NULL, CAST(N'2022-12-14T15:19:01.117' AS DateTime), CAST(N'2022-12-14T15:19:01.117' AS DateTime), N'pna', N'pna', 0, 0)
SET IDENTITY_INSERT [dbo].[ShippingAddress] OFF
GO
SET IDENTITY_INSERT [dbo].[ShopOrder] ON 

INSERT [dbo].[ShopOrder] ([Id], [OrderStatus], [TotalPrice], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted], [Account], [AddressId]) VALUES (1, 1, CAST(100 AS Decimal(18, 0)), CAST(N'2022-11-25T00:00:00.000' AS DateTime), CAST(N'2022-11-25T00:00:00.000' AS DateTime), NULL, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[ShopOrder] ([Id], [OrderStatus], [TotalPrice], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted], [Account], [AddressId]) VALUES (2, 1, CAST(56 AS Decimal(18, 0)), CAST(N'2022-11-25T00:00:00.000' AS DateTime), CAST(N'2022-11-25T00:00:00.000' AS DateTime), NULL, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[ShopOrder] ([Id], [OrderStatus], [TotalPrice], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted], [Account], [AddressId]) VALUES (3, 1, CAST(11 AS Decimal(18, 0)), CAST(N'2022-12-02T22:49:02.403' AS DateTime), CAST(N'2022-12-02T22:49:02.403' AS DateTime), NULL, NULL, 0, 0, N'pna', 2)
SET IDENTITY_INSERT [dbo].[ShopOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[ShoppingCart] ON 

INSERT [dbo].[ShoppingCart] ([Id], [ProductId], [Quantity], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted], [Customer]) VALUES (1, 5, 2, CAST(N'2022-12-01T16:35:46.247' AS DateTime), CAST(N'2022-12-01T16:42:53.743' AS DateTime), NULL, NULL, 1, 1, N'9bc53a90-ec85-46ff-9a74-0c02c04d2f29')
INSERT [dbo].[ShoppingCart] ([Id], [ProductId], [Quantity], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted], [Customer]) VALUES (2, 4, 1, CAST(N'2022-12-01T16:39:50.047' AS DateTime), CAST(N'2022-12-01T16:39:50.073' AS DateTime), NULL, NULL, 1, 1, N'9bc53a90-ec85-46ff-9a74-0c02c04d2f29')
INSERT [dbo].[ShoppingCart] ([Id], [ProductId], [Quantity], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted], [Customer]) VALUES (4, 1, 1, CAST(N'2022-12-01T16:44:44.137' AS DateTime), CAST(N'2022-12-01T16:44:44.140' AS DateTime), NULL, NULL, 1, 1, N'9bc53a90-ec85-46ff-9a74-0c02c04d2f29')
SET IDENTITY_INSERT [dbo].[ShoppingCart] OFF
GO
SET IDENTITY_INSERT [dbo].[Tag] ON 

INSERT [dbo].[Tag] ([Id], [Slug], [Name], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (1, N'apple', N'Apple', CAST(N'2022-11-14T15:28:22.660' AS DateTime), CAST(N'2022-11-14T15:28:22.660' AS DateTime), NULL, NULL, 0, 0)
INSERT [dbo].[Tag] ([Id], [Slug], [Name], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (2, N'fruit', N'Fruit', CAST(N'2022-11-14T15:28:22.660' AS DateTime), CAST(N'2022-11-14T15:28:22.660' AS DateTime), NULL, NULL, 0, 0)
INSERT [dbo].[Tag] ([Id], [Slug], [Name], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (3, N'travel', N'Travel', CAST(N'2022-11-14T15:28:22.660' AS DateTime), CAST(N'2022-11-14T15:28:22.660' AS DateTime), NULL, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Tag] OFF
GO
INSERT [dbo].[User] ([FirstName], [LastName], [Phone], [Email], [Account], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (N'Phùng', N'Ngọc Anh', N'0973153650', N'pna7702@gmail.com', N'pna', CAST(N'2022-12-01T00:00:00.000' AS DateTime), CAST(N'2022-12-01T00:00:00.000' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[User] ([FirstName], [LastName], [Phone], [Email], [Account], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (N'Alexander', N'Bruno', N'0974658986', N'alexbuh@gmail.com', N'admin', CAST(N'2022-12-18T16:33:03.117' AS DateTime), CAST(N'2022-12-29T20:07:15.747' AS DateTime), NULL, N'admin', 0, 0)
INSERT [dbo].[User] ([FirstName], [LastName], [Phone], [Email], [Account], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [IsDeleted]) VALUES (N'Merry', N'Christmas', N'0978785456', N'merychris@gmail.com', N'staff1', CAST(N'2022-12-01T00:00:00.000' AS DateTime), CAST(N'2022-12-01T00:00:00.000' AS DateTime), NULL, NULL, NULL, 0)
GO
ALTER TABLE [dbo].[AccountImage]  WITH CHECK ADD FOREIGN KEY([Account])
REFERENCES [dbo].[AccountManager] ([Account])
GO
ALTER TABLE [dbo].[AccountImage]  WITH CHECK ADD FOREIGN KEY([FileId])
REFERENCES [dbo].[FileManage] ([Id])
GO
ALTER TABLE [dbo].[Banner]  WITH CHECK ADD FOREIGN KEY([FileId])
REFERENCES [dbo].[FileManage] ([Id])
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD FOREIGN KEY([FileId])
REFERENCES [dbo].[FileManage] ([Id])
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([ShopOrderId])
REFERENCES [dbo].[ShopOrder] ([Id])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[CategoryBlog] ([Id])
GO
ALTER TABLE [dbo].[PostImage]  WITH CHECK ADD FOREIGN KEY([FileId])
REFERENCES [dbo].[FileManage] ([Id])
GO
ALTER TABLE [dbo].[PostImage]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[PostTag]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[PostTag]  WITH CHECK ADD FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([Id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD FOREIGN KEY([FileId])
REFERENCES [dbo].[FileManage] ([Id])
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
USE [master]
GO
